.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
}

.ad {
  font-size: 16px !important;
  color: #ffffff !important;
  font-weight: 500;
}
.apply {
  font-size: 16px !important;
  color: #ffffff !important;
  font-weight: 500;
}

.lightbulb:hover {
  color: rgb(255, 255, 109) !important;
}
